version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root

  api:
    container_name: nest-api
    build:
      context: .
      dockerfile: Dockerfile
    command: pnpm backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://root:example@mongo:27017/mydb?authSource=admin
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  mongo_data:
    driver: local
